@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.tictactoe_conatainer{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.heading{
  text-align: center;
}
.winner,.draw{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.mybtn{
  text-align: center;
  padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(54, 54, 176);
    border: 0px solid;
    color: rgb(248, 248, 248);
    font-size: 16px;
    border-radius: 5px;
}

.containerbox{
  width: 60%;
    margin: auto;
    margin-top: 30px;
    border: 1px solid;
    cursor: pointer;
}

.Rowbox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.player{
  font-size: 50px;
}
.Sqaure:hover{
  background-color: #9d9b9b;
}
.Sqaure{
  height: 150px;
    width: 100%;
    border: 2px solid #c5bfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #818181;
}


@media (max-width:576px) {
  .containerbox {
    width: 78%;
}
.Sqaure {
  height: 120px;
}
}

@media (max-width:380px) {
  .Sqaure {
    height: 82px;
  }
  .winner h1,.draw h1{
    font-size: 25px;
    text-align: center;
  }
  .mybtn{
    font-size: 13px;
  }
}